BasedOnStyle: LLVM
Language: Cpp
Standard: c++11
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
ColumnLimit: 100
AccessModifierOffset: -4
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: Never
BreakStringLiterals: false
FixNamespaceComments: false
